# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache

# Виртуальные окружения
venv/
env/
*.venv/

# Файлы Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Конфиденциальные данные
.env
data/*
!data/.gitkeep  # Если хочешь оставить пустую папку data в репозитории

# Временные файлы и логи
*.log
*.tmp

# IntelliJ IDEA файлы
.idea/
*.iml

# Установленные зависимости (если случайно попадут)
dist/
build/
*.egg-info/
*.egg

# Файлы аудио и сессий
*.ogg
*.wav
*.session
*.session-journal

# Документация и прочее
*.DS_Store  # Для macOS
Thumbs.db   # Для Windows
